{% layout none %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/0114/0621/3220/files/favicon_replacement_32x32.png?v=1561427603" type="image/png">
  	<link rel="stylesheet" href="{{ "style-refillable.css" | asset_url }}">
  	<link rel="stylesheet" href="{{ "splide.min.css" | asset_url }}">
    <meta name="description" content="Trestique introduces the first-ever clean, zero-waste refillable system to the beauty industry. Developed through the 360° lens of sustainability">
    <title>{{ page_title }}</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-61166260-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-61166260-1');
</script>
</head>
<body>
    <header>
        <div class="white-bar-logo">
            <a class="white-bar-logo-link" href="https://www.trestique.com/">
                <img class="centeredIMG white-bar-logo-img"
                src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/main-logo.png?v=1619801113">
            </a>
        </div>
        <img id="firstImg" style="width:100%;"
            src="https://cdn.shopify.com/s/files/1/0528/1710/0964/files/HERO.png?v=1621196801">
        <img id="firstImgCell" style="width:100%;" src="https://cdn.shopify.com/s/files/1/0528/1710/0964/files/HERO-mobile_f20f598a-a5de-4ffa-980c-b43b169ebfea.png?v=1621196800">
    </header>
    <section id="containerSection-1">
        <div id="triggerPinAnimation"></div>
        <div id="textImage">
            <div id="revealText1">
                <h2 class="textSection-1 ">Packaging made from the highest <br/>levels of recycled materials that <br/>technology allows</h2>
            </div>
            <div id="revealText2">
                <h2 class="textSection-1 ">Endlessly reﬁllable formulas <br/>that easily snap in and out</h2>
            </div>
            <div id="revealText3">
                <h2 class="textSection-1 ">Game-changing essentials <br/>that fit compactly together</h2>
            </div>
            <div id="revealText4">
                <h2 class="textSection-1 ">Your 5-minute routine<br/> in the palm of your hand</h2>
            </div>
            <div id="pinFullMkp"></div>
            <div id="fullMkp">
                <img class="centeredIMG" id="tampa"
                    src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/BROW_PENCIL1.png?v=1619801113">
                <img class="centeredIMG" id="refil"
                    src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/BROW_PENCIL.png?v=1619801113">
                <img class="centeredIMG" id="meio"
                    src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/refillables_PENCIL.png?v=1619801113">
                <div class="centeredIMG" id="fundo">
                    <img id='fundo3' class="centeredIMG"
                        src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/cover2.png?v=1619801114">
                    <img id='fundo1' class="centeredIMG"
                        src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/brush.png?v=1619801114">
                    <img id='fundo2' class="centeredIMG"
                        src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/cover.png?v=1619801114">
                </div>
            </div>
        </div>
        <div id="triggerAnimation"></div>
        <div id="imgBagTrigger"></div>
        <div id="imgBag">
            <div id="leftPincel">
                <img id="leftPincel1" class="bagIMG"
                    src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/sack-4.png?v=1619801114">
                <img id="leftPincel2" class="bagIMG"
                    src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/sack-5.png?v=1619801114">
            </div>
            <div id="centerImgBag">
                <img id="centerPincel" class="bagIMG"
                    src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/sack-3.png?v=1619801113">
                <img id="centerBag" class="bagIMG"
                    src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/sack.png?v=1619801114">
            </div>
            <div id="rightPincel">
                <img id="rightPincel1" class="bagIMG"
                    src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/sack-2.png?v=1619801114">
                <img id="rightPincel2" class="bagIMG"
                    src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/sack-1.png?v=1619801113">
            </div>
            <div id="closedBag">
                <img class="centeredIMG closedBagImage"
                    src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/sustainable-deluxe-le-pak-beauty-bag-black_2_1000x_c94dd0c7-0955-4aa7-a2c8-8a9c70d1c55c.png?v=1619801114">
            </div>
        </div>
        <div id="closedBagTrigger"></div>
    </section>
    <section id="sustainable-routine">
        <div class="containerSection-2-wrapper">
            <h2 class="sustainable-routine-title">
                <span class="sustainable-routine-title--desktop">
                    Introducing our NEW <br/>sustainable collection
                </span>
                <span class="sustainable-routine-title--mobile">
                    Introducing our NEW <br/>sustainable collection
                </span>
            </h2>
            <div class="sustainable-routine-columns sustainable-routine-columns--face">
                <div class="sustainable-routine-column sustainable-routine-column--face">
                    <h3 class="sustainable-routine-subtitle">
                        <span class="sustainable-routine-subtitle--desktop">
                            Discover all <br/>
                            our face <br/>
                            products
                        </span>

                        <span class="sustainable-routine-subtitle--mobile">Discover all <br/>
                            our face <br/>
                            products</span>
                    </h3>

                    <p class="sustainable-routine-text sustainable-routine-text--face">
                        Super clean and creamy formula with skincare-inspired ingredients works to boost natural collagen production and lock in moisture. Our proprietary Carrot Complex protects skin from blue light damage.
                    </p>

                    <div class="sustainable-routine-tabs">
                        <span class="sustainable-routine-tab sustainable-routine-tab--face"></span>
                        <span class="sustainable-routine-tab sustainable-routine-tab--face"></span>
                        <span class="sustainable-routine-tab sustainable-routine-tab--face"></span>
                        <span class="sustainable-routine-tab sustainable-routine-tab--face"></span>
                        <span class="sustainable-routine-tab sustainable-routine-tab--face"></span>
                    </div>
                </div>

                <div class="sustainable-routine-column sustainable-routine-column--face">
                    <div class="splide splide--face">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide"><img class="sustainable-routine-img" src="https://cdn.shopify.com/s/files/1/0528/1710/0964/files/C1-IMG-1.jpg?v=1621196800" /></li>
                                <li class="splide__slide"><img class="sustainable-routine-img" src="https://cdn.shopify.com/s/files/1/0528/1710/0964/files/C1-IMG-2.jpg?v=1621196800" /></li>
                                <li class="splide__slide"><img class="sustainable-routine-img" src="https://cdn.shopify.com/s/files/1/0528/1710/0964/files/C1-IMG-3.jpg?v=1621196800" /></li>
                                <li class="splide__slide"><img class="sustainable-routine-img" src="https://cdn.shopify.com/s/files/1/0528/1710/0964/files/C1-IMG-4.jpg?v=1621196800" /></li>
                                <li class="splide__slide"><img class="sustainable-routine-img" src="https://cdn.shopify.com/s/files/1/0528/1710/0964/files/C1-IMG-5.jpg?v=1621196800" /></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="containerSection-2-wrapper">
            <div class="sustainable-routine-columns sustainable-routine-columns--lips">
                <div class="sustainable-routine-column sustainable-routine-column--lips">
                    <div class="splide splide--lip">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide"><img class="sustainable-routine-img" src="https://cdn.shopify.com/s/files/1/0528/1710/0964/files/C2-IMG-1.jpg?v=1621196800" /></li>
                                <li class="splide__slide"><img class="sustainable-routine-img" src="https://cdn.shopify.com/s/files/1/0528/1710/0964/files/C2-IMG-2.jpg?v=1621196800" /></li>
                                <li class="splide__slide"><img class="sustainable-routine-img" src="https://cdn.shopify.com/s/files/1/0528/1710/0964/files/C2-IMG-3.jpg?v=1621196800" /></li>
                                <li class="splide__slide"><img class="sustainable-routine-img" src="https://cdn.shopify.com/s/files/1/0528/1710/0964/files/C2-IMG-4.jpg?v=1621196800" /></li>
                                <li class="splide__slide"><img class="sustainable-routine-img" src="https://cdn.shopify.com/s/files/1/0528/1710/0964/files/C2-IMG-5.jpg?v=1621196800" /></li>
                                <li class="splide__slide"><img class="sustainable-routine-img" src="https://cdn.shopify.com/s/files/1/0528/1710/0964/files/C2-IMG-6.jpg?v=1621196800" /></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="sustainable-routine-column sustainable-routine-column--lips">
                    <h3 class="sustainable-routine-subtitle">
                        <span class="sustainable-routine-subtitle--desktop">
                            Discover all <br/>
                            our eye and <br/>
                            lip products
                        </span>

                        <span class="sustainable-routine-subtitle--mobile">Discover all <br/>
                            our eye and <br/>
                            lip products</span>
                    </h3>

                    <p class="sustainable-routine-text sustainable-routine-text--lip">
                        Triple-threat eyebrow pencil that defines, sculpts and sets in seconds, leaving you with a defined brow look you can’t beat. Activated by the natural oils of your brow hair, simplifying the way you detail your brow.
                    </p>

                    <div class="sustainable-routine-tabs">
                        <span class="sustainable-routine-tab sustainable-routine-tab--lip"></span>
                        <span class="sustainable-routine-tab sustainable-routine-tab--lip"></span>
                        <span class="sustainable-routine-tab sustainable-routine-tab--lip"></span>
                        <span class="sustainable-routine-tab sustainable-routine-tab--lip"></span>
                        <span class="sustainable-routine-tab sustainable-routine-tab--lip"></span>
                        <span class="sustainable-routine-tab sustainable-routine-tab--lip"></span>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="containerSection-2">
        <div class="containerSection-2-wrapper containerSection-2-wrapper--top">
            <div class="containerSection-2-columns">
                <div class="containerSection-2-column containerSection-2-column--top">
                    <img class="containerSection-2-img" src="https://cdn.shopify.com/s/files/1/0528/1710/0964/files/IMG-1.png?v=1621196800" />
                </div>
                <div class="containerSection-2-column containerSection-2-column--top">
                    <h2>
                        Transparently clean
                    </h2>
                    <p class="section2Text">
                        At trestique, performance and safety are our top priorities. We are committed to health and safety standards that go way beyond the US and surpass the high bar of the EU guidelines—eliminating potentially harmful ingredients including parabens, phthalates, sulfates, PEGs, BHA, Gluten, fragrance, mineral oil, formaldehyde, triclosan/tricarbon, among many other things (and we’re not including things you can paint your house with).
                    </p>
                </div>
            </div>
        </div>

        <div class="containerSection-2-icons">
            <div class="containerSection-2-icons-wrapper">
                <div class="containerSection-2-icon">
                    <img src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/cf-vegan.png?v=1619801114" />
                </div>

                <div class="containerSection-2-icon">
                    <img src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/clean.png?v=1619801114" />
                </div>

                <div class="containerSection-2-icon">
                    <img src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/formuled.png?v=1619801113" />
                </div>
            </div>
        </div>

        <div style="background: #f9ebe3">
            <div class="containerSection-2-wrapper containerSection-2-wrapper--top">
                <div class="containerSection-2-columns containerSection-2-columns--reverse-mobile">
                    <div class="containerSection-2-column containerSection-2-column--reverse-mobile">
                        <h2 class="text-align-left">
                            Leaders in <br/>sustainability
                        </h2>
                        <p class="section2Text">
                            trestique introduces the first-ever clean, zero-waste refillable system to the beauty industry. Developed through the 360° lens of sustainability—from sourcing and materials to manufacturing and packaging. Our packaging has the highest levels of post-consumer and post-industrial recycled materials that technology allows and each of our products are carbon neutral. We use FSC-certified paper and soy-based ink for all our cartons and consumer mailers. This paper comes from responsibly-managed forests that provide environmental, social and economic benefits to their communities and is 100% recyclable. <br>We consciously educate for definitive recycling action. And most importantly, we will always ever-evolve our sustainability efforts as technical advancements catch up with our intentions.
                        </p>
                    </div>
                    <div class="containerSection-2-column containerSection-2-column--reverse-mobile">
                        <img class="containerSection-2-img" src="https://cdn.shopify.com/s/files/1/0528/1710/0964/files/IMG-2.png?v=1621196801" />
                    </div>
                </div>
            </div>
        </div>

        <div class="containerSection-2-icons">
            <div class="containerSection-2-icons-wrapper containerSection-2-icons-wrapper--large">
                <div class="containerSection-2-icon">
                    <img src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/recycled.png?v=1619801114" />
                </div>

                <div class="containerSection-2-icon">
                    <img src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/reduction.png?v=1619801114" />
                </div>

                <div class="containerSection-2-icon">
                    <img src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/planet.png?v=1619801113" />
                </div>

                <div class="containerSection-2-icon">
                    <img src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/carbon.png?v=1619801113" />
                </div>
            </div>
        </div>

    </section>
    <section class="curated-textures-section">
        <div class="containerSection-2-wrapper containerSection-2-wrapper--top">
            <div class="containerSection-2-columns">
                <div class="containerSection-2-column containerSection-2-column--top">
                    <img class="containerSection-2-img" src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/IMG-3.gif?v=1621287810" />
                </div>
                <div class="containerSection-2-column containerSection-2-column--top curated-textures-column">
                    <h2>
                        Curated shades and textures  <br/>
                        are universally flattering <br>
                        —transcending age and <br>all demographics.
                    </h2>
                    <img src="https://cdn.shopify.com/s/files/1/0528/1710/0964/files/IMG-3-text.png?v=1621266996" />
                </div>
            </div>
        </div>
        <!-- <img class="curated-textures-img" src="./imgs/IMG-3.png" />
        <img class="curated-textures-img-mobile" src="./imgs/IMG-3-mobile.png" /> -->
    </section>
    <section class="our-story-section">
        <div class="our-story-section-wrapper">
            <div class="our-story-columns">
                <div class="our-story-column">
                    <p class="our-story-text">
                        “We pushed ourselves to think bigger and were determined to make our entire line more forever, more precious, no longer single use.”
                    </p>

                    <div class="our-story-button our-story-button--open">
                        Read the full bio
                    </div>
                </div>

                <div class="our-story-column">
                    <img class="our-story-img" src="https://cdn.shopify.com/s/files/1/0528/1710/0964/files/ARTICLE-IMG.png?v=1621196801" />
                </div>
            </div>

            <div class="our-story-text-wrapper">
                <div class="our-story-text-content">
                    <p class="our-story-text-paragraph">
                        When our founders Jenn Kapahi and Jack Bensason launched trestique six years ago, they focused on extraordinary quality, innovative packaging and unfussy routines. Their industry expertise empowered them to create an original cruelty-free makeup line, made in Italy and delivered in 2-in-1 makeup crayons combining high-performance formulas with built-in application tools. Over the years, Jenn and Jack have continued to develop the brand—relentlessly improving the formulas and the packaging, making them both cleaner and more sustainable with every iteration.
                    </p>
                    <p class="our-story-text-paragraph">
                        We as a brand were already simplifying the beauty routine, offering luxe and clean formulas and delivering them in cool multi-tasking crayons. SO many customers told us they loved the packaging and hated throwing it away. We pushed ourselves to think bigger and were determined to make our entire line more forever, more precious, no longer single use.

                    </p>
                    <p class="our-story-text-paragraph">
                        “As entrepreneurs, beauty founders, product developers and most importantly human beings, it was time to take our small step in the right direction to create something that helps the world be a better place.” explains Jenn.

                    </p>
                    <p class="our-story-text-paragraph">
                        Today, trestique is on the forefront of the packaging revolution. Jenn and Jack have created 100% reusable and refillable products from post consumer recycled materials. From the formulas to the packaging, everything was developed through a lens of sustainability. “We are in an authentic revolution with a promise of transparency,” adds Jack.

                    </p>
                    <p class="our-story-text-paragraph">
                        trestique was always about everything you need and nothing you don’t, you touched-up in 5 minutes, leaving more time for living and doing the things you love. It always developed high-performance and clean formulas and always presented easy-to-apply crayons. “We were on our way to super sustainability when the world told us it was time to dive in,” says Jenn. Now customers can feel good that our brand values align with their own. Now our actions match our conscience, socially and environmentally.
                    </p>
                    <p class="our-story-text-paragraph">
                        Now we can all celebrate: trestique is eco-friendly, eco-smart, and eco-conscious.
                    </p>

                    <div class="our-story-button our-story-button--close">
                        Collapse Article
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="follow-ur-journey">
        <div class="containerSection-2-wrapper containerSection-2-wrapper--top">
            <div class="containerSection-2-columns">
                <div class="containerSection-2-column containerSection-2-column--top">
                    <img class="containerSection-2-img" src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/img-5_5b67021e-e801-4152-bbd1-5dc78f67f65d.png?v=1621289196" />
                </div>
                <div class="containerSection-2-column containerSection-2-column--top containerSection-2-column-follow-ur">
                    <img class="follow-ur-journey-img-text" src="https://cdn.shopify.com/s/files/1/0528/1710/0964/files/IMG-5-text.png?v=1621196800" />
                    <img class="follow-ur-journey-img-text-mobile" src="https://cdn.shopify.com/s/files/1/0528/1710/0964/files/IMG-5-text-mobile.png?v=1621196800" />
                    <a target="_blank" class="follow-ur-journey-link" href="https://www.instagram.com/trestique/">
                        @trestique
                    </a>
                </div>
            </div>
        </div>
        <!-- <img class="follow-ur-journey-img" src="./imgs/IMG-5.png" />
        <img class="follow-ur-journey-img-mobile" src="./imgs/IMG-5-mobile.png" /> -->
    </section>
    <!-- <section id="containerSection-3">
        <div class="columnsSection3">
            <div class="submitBoxContainer">
                <div class="submitBox">
                    <div class="submitBox-info">
                        <img class="submitBox-img" src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/form-text.png?v=1619801113">
                        <p class="submitBox-text">Sign up to get first dibs <br/>on our full line</p>
                    </div>
                    <div class="submitBox-2">
                        <div class="klaviyo-form-WjSDAS" style="width: 100%;"></div>
                    </div>
                </div> -->
                <!--<div class="submitBox">
                    <div class="submitBox-info submitBox-info--email">
                        <img class="submitBox-img" src="https://cdn.shopify.com/s/files/1/0528/1710/0964/t/3/assets/form-text.png?v=1618850120">
                        <p class="submitBox-text">Request a sample and more <br/>information</p>
                    </div>
                    <div class="submitBox-2 submitBox-2--email">
                        <p class="submitBox-text submitBox-text--email">email us <br/><a href="mailto:press@trestique.com">press@trestique.com</a></p>
                    </div>
                </div> -->
            <!-- </div>

            <img class="imgSection-3 imgSection-3--sm"
                src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/Social.png?v=1619801115">
        </div>
    </section> -->
    <footer>
        <div id="footer-rose">
            <div class="footer-columns">
                <div class="footer-logo-trestique">
                    <img class="footer-logo-trestique-img" src="https://cdn.shopify.com/s/files/1/0528/1710/0964/files/trestique-logo.png?v=1621196800" />
                    <span class="footer-logo-line"></span>
                    <span class="footer-logo-text">beauty unfiltered</span>
                </div>
                <div class="socialFooter">
                    <a href="https://www.instagram.com/trestique/" target="_blank">
                        <img class="iconSocialFooter" src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/Instagram-logo-T-blue.png?v=1619801113">
                    </a>
                    <a href="https://www.facebook.com/trestique/" target="_blank">
                        <img class="iconSocialFooter" src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/Facebook_logo-T-blue.png?v=1619801114">
                    </a>
                    <a href="https://www.tiktok.com/@trestique" target="_blank">
                        <img class="iconSocialFooter" src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/tiktok-logo-T-blue.png?v=1619801114">
                    </a>
                    <a href="https://twitter.com/trestique" target="_blank">
                        <img class="iconSocialFooter" src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/Twitter-logo-T-blue.png?v=1619801114">
                    </a>
                    <a href="https://www.youtube.com/c/Trestique/" target="_blank">
                        <img class="iconSocialFooter" src="https://cdn.shopify.com/s/files/1/0114/0621/3220/files/Youtube-logo-T-blue.png?v=1619801114">
                    </a>
                </div>
            </div>

        </div>
        <p class="textFooter" style="padding: 20; text-align: center">© Copyright trestique 2021</p>
    </footer>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.velocity.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=NcVtMv"></script>
<script>
    // init controller
    var controller = new ScrollMagic.Controller();
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.velocity.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=NcVtMv"></script>
<script>
    // init controller
    var controller = new ScrollMagic.Controller();
</script>
<script src="{{ "splide.min.js" | asset_url }}"></script>
<script src="{{ "animation.js" | asset_url }}"></script>
<script src="{{ "gallery.js" | asset_url }}"></script>
<script src="{{ "our-story.js" | asset_url }}"></script>
</html>
