{% assign EComBuilderMode = true %}<!--EComposer-custom-liquid-filters-7s16qptq31-->
                        {% if template contains '.' %}
                            <input type="hidden" name="view" value="{{template | split: '.' | last }}" />
                        {% endif %}
                        {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                        {% assign color_option_name = 'Color' | handleize %}
                        {% liquid
                            assign colors = shop.metafields.ecomposer.colors
                        %}
                        {% capture icon_caret%}
                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                            </svg>
                        {% endcapture%}
                        {% capture close_icon %}
                            <span class="ecom-colletion-filters--close-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" fill="currentColor" viewBox="0 0 18 17">
                                    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
                                </svg>
                            </span>
                        {% endcapture %}
                        
                                {% if EComBuilderMode %}
                                    <div class="ecom-collection__filters-applied-block">
                                        <h3 class="ecom-collection__filters-applied-heading">
                                            Applied filters
                                        </h3>
                                        <div class="ecom-collection-filters--active_values">
                                            <ul class="ecom-collection-filters--active_values-list" role="list">
                                                {% for filter in collection.filters %}
                                                    {% if filter.type == 'list' %}
                                                        {% for value in filter.values  %}
                                                            <li class="ecom-collection__filters-group-list-item ecom-al_center">
                                                                <a href="{{value.url_to_remove}}" title="{{value.label}}">{{ value.label | escape }} {{close_icon}}</a>
                                                            </li>
                                                        {% endfor %}
                                                        {% break %}
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}

                                {%- for filter in collection.filters -%}
                                    {%- if  filter.active_values.size > 0 -%}
                                        {%- assign has_filter = true -%}
                                        {%- break -%}
                                    {%- endif -%}
                                {%- endfor -%}
                                {%- if has_filter -%}
                                <div class="ecom-collection__filters-applied-block">
                                    <h3 class="ecom-collection__filters-applied-heading">
                                        Applied filters
                                    </h3>
                                    <div class="ecom-collection-filters--active_values">
                                        <ul class="ecom-collection-filters--active_values-list" role="list">
                                            {%- for filter in collection.filters -%}
                                                {%- if filter.active_values.size > 0 -%}
                                                    {% for value in filter.active_values  %}
                                                        <li class="ecom-collection__filters-group-list-item ecom-al_center">
                                                            <a class="ecom-collection__filters-group-list-item-clear" href="{{value.url_to_remove}}" title="{{value.label}}">{{ value.label | escape }} {{close_icon}}</a>
                                                        </li>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                            <li class="ecom-collection__filters-group-list-item ecom-al_center">
                                                <a href="{{collection.url}}" title="Clear all" class="ecom-collection__filters-group-list-item-clear">Clear all{{close_icon}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                {%- endif -%}
                        
                        <div class="ecom-container-filter-list">
                        {%- for filter in collection.filters -%}
                            {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
                            {% case filter.type %}
                            {% when 'list' %}
                                {% assign size = filter.values | size %}
                                {% assign settings_size = undefined %}
                                {%- if size > 0 -%}
                                <div
                                data-name="{{filter.param_name}}"
                                
                                class="ecom-js-filter ecom-collection__filters-group-dropdown ecom-collection__filters-group ecom-collection__filters-group-lists ecom-d-none" data-index="{{ forloop.index }}" data-attrs-max="5">

                                    <summary class="ecom-collection__filters-group-summary">
                                        <div class="ecom-collection__filters-group-header">
                                            <span class="ecom-collection__filters-group-summary--title">{{ filter.label | escape }}</span>
                                            
                                        </div>
                                    </summary>
                                    <div class="ecom-collection__filters-group--display">
                                        

                                        {% assign check_is_filter_color = false %}
                                        
                                        <ul
                                            class="ecom-collection__filters-group-list  ecom-scroll_bar{% if check_is_filter_color %} ecom-collection__filters-enable-colors{% endif %}" data-param-name="{{filter.param_name}}" role="list" data-index="{{ forloop.index }}"
                                        >
                                        {%- for value in filter.values -%}
                                            {%- if false == false or value.count > 0 and false == true -%}
                                            <li class="ecom-collection__filters-group-list-item " >
                                                <label for="ecom-filter-{{ filter.label | escape  | strip }}-{{ forloop.index }}" class="ecom-collection__filters-group-checkbox{% if value.count == 0 and value.active == false %} ecom-collection__filters-group-checkbox--disabled{% endif %}">

                                                    <input type="checkbox"
                                                    class="ecom-collection__filters-group-checkbox--input "
                                                    name="{{ value.param_name }}"
                                                    value="{{ value.value }}"
                                                    id="ecom-filter-{{ filter.label | escape | strip }}-{{ forloop.index }}"
                                                    {% if value.active %}checked{% endif %}
                                                    {% if value.count == 0 and value.active == false %}disabled{% endif %}
                                                    >

                                                    <span class="ecom-collection__filters-group-checkbox-label ecom-flex ecom-al_center">
                                                        {% if check_is_filter_color %}
                                                            {% assign value_key = value.value | downcase %}
                                                            {% if colors and colors.value[value_key]  != blank %}
                                                                <span class="ecom-collection__filters--color" style="{{colors.value[value_key]}}" data-ecom-tooltip="{{value.label}}"></span>
                                                            {% else %}
                                                                <span class="ecom-collection__filters--color ecom-collection__filters--no-color" data-ecom-tooltip="{{value.label}}"></span>
                                                            {% endif %}
                                                        {% endif%}
                                                        {{ value.label | escape }}
                                                        <span class="ecom-collection__filters--count">({{ value.count }})</span>
                                                    </span>
                                                </label>
                                            </li>
                                            {%- endif -%}
                                        {%- endfor -%}
                                            
                                        </ul>
                                    </div>
                                    </div>
                                {%- endif -%}
                            {% when 'price_range' %}
                                {% liquid
                                    assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
                                    assign uses_comma_decimals = false
                                    if currencies_using_comma_decimals contains cart.currency.iso_code
                                        assign uses_comma_decimals = true
                                    endif
                                    %}

                                    <div
                                    
                                    class="ecom-collection__filters-group ecom-collection__filters-group-dropdown ecom-collection__filters-group-price-range" data-index="{{ forloop.index }}">
                                        <summary class="ecom-collection__filters-group-summary">
                                            <div class="ecom-collection__filters-group-header">
                                                <span class="ecom-collection__filters-group-summary--title">{{ filter.label | escape }}</span>
                                                <span class="ecom-collection__filters-group-count-bubble{%- if filter.min_value.value or filter.max_value.value -%}{{ filter.active_values.size }} count-bubble--dot{% endif %}"></span>
                                                
                                            </div>
                                        </summary>
                                        <div class="ecom-collection__filters-group--display">
                                            {%- comment -%}
                                            
                                            {%- endcomment -%}
                                             <price-range class="ecom-collection__filters-group-price">
                                                    <div class="ecom-collection__filters-group-field">
                                                        <label class="ecom-collection__filters-group-field--label" for="Search-In-Modal">From</label>
                                                        <span class="ecom-collection__filters-group-field--currency">{{ cart.currency.symbol }}</span>
                                                        <input class="ecom-collection__filters-group-field--input ecom-collection__filters-price-range-min"
                                                        name="{{ filter.min_value.param_name }}"
                                                        id="ecom-filter-{{ filter.label | escape | strip  }}-{{ forloop.index }}"
                                                        {%- if filter.min_value.value -%}
                                                            {%- if uses_comma_decimals -%}
                                                            value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                                            {%- else -%}
                                                            value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                                                            {% endif %}
                                                        {%- endif -%}
                                                        type="number"
                                                        placeholder="0"
                                                        min="0"
                                                        max="{{ filter.range_max | divided_by: 100.00}}">
                                                        </input>
                                                    </div>
                                                    <div class="ecom-collection__filters-group-field">
                                                    <label class="ecom-collection__filters-group-field--label" for="Search-In-Modal">To</label>
                                                        <span class="ecom-collection__filters-group-field--currency">{{ cart.currency.symbol }}</span>
                                                        <input class="ecom-collection__filters-group-field--input ecom-collection__filters-price-range-max"
                                                        name="{{ filter.max_value.param_name }}"
                                                        id="ecom-Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                                                        {%- if filter.max_value.value -%}
                                                            {%- if uses_comma_decimals -%}
                                                            value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                                            {%- else -%}
                                                            value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                                                            {% endif %}
                                                        {%- endif -%}
                                                        type="number"
                                                        placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                        min="0"
                                                        max="{{ filter.range_max | divided_by: 100.00 }}">
                                                        </input>

                                                    </div>
                                            </price-range>
                                            <div class="ecom-collection-filters--price-range">
                                                <div class="ecom-collection-filters--prices">
                                                    {%- assign max_price = filter.max_value.value -%}
                                                    {%- unless max_price -%}
                                                        {%- assign max_price = filter.range_max -%}
                                                    {%- endunless -%}
                                                    {%- assign min_price = filter.min_value.value -%}
                                                    {%- unless min_price -%}
                                                        {%- assign min_price = 0 -%}
                                                    {%- endunless -%}
                                                    <span id="ecom-collection-filters--price-from" class="ecom-collection-filters--price">{{ min_price  | money }}</span>
                                                    <span class="ecom-collection-filters--seperate">-</span>
                                                    <span id="ecom-collection-filters--price-to" class="ecom-collection-filters--price">{{max_price | money }}</span>
                                                </div>
                                                {%- assign per_min = 0 -%}
                                                {%- assign per_max = 100 -%}
                                                {%- if filter.min_value.value -%}
                                                    {%- assign per_min = filter.min_value.value | times: 1.00 | divided_by: filter.range_max | times: 100 -%}
                                                {%- endif -%}
                                                {%- if filter.max_value.value -%}
                                                    {%- assign per_max = filter.max_value.value | times: 1.00 | divided_by: filter.range_max | times: 100 -%}
                                                {%- endif -%}
                                                <div class="ecom-collection-filters--multi-range">
                                                    <input id="ecom-collection-filters--input-min" type="range" min="0" max="100" value="{{per_min}}" step="0.01" />
                                                    <input id="ecom-collection-filters--input-max" type="range" min="0" max="100" value="{{per_max}}" step="0.01" />
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                {% endcase %}
                            {%- endfor -%}
                            </div>
                            <!--/EComposer-custom-liquid-filters-7s16qptq31-->